{% extends "AppKav/padre.html" %}

{% load static %}

{% block title%} Consultas {% endblock %}

{% block Proyectos %} {% endblock %}
{% block Usuarios %} {% endblock %}

{% block Consultas %}
<!-- Consultas Section-->
<section class="page-section" id="Consultas">
    <div class="container">
        <!-- Contact Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Consulta</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Contact Section Form-->
        <div class="row justify-content-center">
            <div class="col-lg-8 col-xl-7">
                <!-- * * * * * * * * * * * * * * *-->
                <!-- * * SB Forms Contact Form * *-->
                <!-- * * * * * * * * * * * * * * *-->
                <!-- This form is pre-integrated with SB Forms.-->
                <!-- To make this form functional, sign up at-->
                <!-- https://startbootstrap.com/solution/contact-forms-->
                <!-- to get an API token!-->
                <form action="/AppKav/crear_consulta/" method="POST"> {% csrf_token %} 
                    {{formulario}}<br>
                    <input type="submit" value:"Guardar" class="btn btn-primary btn-xl"><br>
                </form><br>
                <a class="btn btn-primary btn-xl" href="{% url 'Ver consulta' %}">Buscar Consultas</a>

            </div>
        </div>
    </div>
</section>
{% endblock %}