{% extends "AppKav/padre.html" %}

{% load static %}

{% block title%} Consultas {% endblock %}

{% block Proyectos %} {% endblock %}
{% block Usuarios %} {% endblock %}

{% block Consultas %}
<!-- Consultas Section-->
<section class="page-section" id="Consultas">
    <div class="container">
        <!-- Contact Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Consulta</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <form action="/AppKav/ver_consulta/" method="GET"> 
            <div class="form-floating mb-3">
                <input class="form-control" type="text" name="nombre" placeholder="Nombre" data-sb-validations="required" />
                <label for="name">Nombre</label>
                <div class="invalid-feedback" data-sb-feedback="name:required">Se requiere un nombre.</div>
            </div>
            <input type="submit" value:"Buscar" class="btn btn-primary btn-xl">
        </form>

        <ol>
            {% for consulta in resultado %}
            <li>
                <p>Nombre: {{consulta.nombre}}</p>
                <p>Email: {{consulta.email}}</p>
                <p>Consulta: {{consulta.consulta}}</p>
            </li>
            {% endfor %}
            </ol>

            </div>
        </div>
    </div>
</section>
{% endblock %}